.cardBody{
  box-shadow: 2px 8px 12px 0px #0000001F;
  padding: 0 0 12px 0;
  border-radius: 8px;
  width: 100%;
}
.pic{
  background: linear-gradient(180deg, rgba(255, 0, 122, 0.2) 0%, rgba(94, 0, 187, 0.2) 100%);
  border-radius: 12px;
}
.pic img{
  width: 100%;
  height: auto;
}
.text{
  padding: 12px 16px 0;
}
.text h3{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
  height: 48px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.winner{
  display: flex;
  gap:6px;
  font-size: 12px;
  color: #000000;
  line-height: 16px;
  font-weight: 400;
}

@media (max-width: 576px){
  .cardBody{
    padding: 0 0 0 0;
  }
}