.cardBody{
  box-shadow: 2px 8px 12px 0px #0000001F;
  padding: 0 0 12px 0;
  width: 100%;
  border-radius: 8px;

}
.pic{
  background: linear-gradient(180deg, rgba(255, 0, 122, 0.2) 0%, rgba(94, 0, 187, 0.2) 100%);
}
.text{
  padding: 12px 16px;
}
.text h3{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
}
.winner{
  display: flex;
  gap:6px;
  font-size: 12px;
  color: #000000;
  line-height: 16px;
  font-weight: 400;
}