.mainBannerImg {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.mainBannerImg img {
  width: 100%;
  height: 100%;
}

.howItWorks {
  padding: 50px 60px 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.firstPart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.firstPart h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.firstPart p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3D3D4E;
}

.secondPart {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

/* CARD SECTION */
.cardSection {
  background-color: #FFF3EB;
  width: 100%;
  padding: 80px 0px;
}



@media (max-width: 576px) {
  .secondPart {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .howItWorks {
    padding: 32px 16px 32px 10px;
  }

  .mainBannerImg {
    margin-top: 16px;
  }
  .cardSection{
    padding: 20px 0;
  }

}